/* ================= RESET ================= */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

/* ================= BODY ================= */
body {
    background-color: #0f172a;
    color: #e5e7eb;
}

/* ================= HEADER ================= */
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 60px;
    background: #020617;
    position: sticky;
    top: 0;
    z-index: 100;
}

.logo {
    display: flex;
    align-items: center;
    gap: 12px;
}

.logo img {
    width: 45px;
    height: 45px;
    border-radius: 50%;
    border: 2px solid #38bdf8;
    object-fit: cover;
}

.logo span {
    font-size: 18px;
    font-weight: 600;
}

/* ================= NAV ================= */
.nav {
    list-style: none;
    display: flex;
    gap: 30px;
}

.nav a {
    text-decoration: none;
    color: #cbd5f5;
    font-size: 15px;
    transition: 0.3s;
}

.nav a:hover,
.nav a.active {
    color: #38bdf8;
}

/* ================= HOME ================= */
.home {
    min-height: calc(100vh - 140px);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 80px 60px;
}

.home-content {
    max-width: 550px;
}

.home-content h4 {
    color: #38bdf8;
    margin-bottom: 10px;
}

.home-content h1 {
    font-size: 40px;
    margin-bottom: 20px;
}

.home-content h1 span {
    color: #38bdf8;
}

.home-content p {
    line-height: 1.7;
    color: #cbd5f5;
}

/* ================= SOCIAL ================= */
.social {
    margin-top: 25px;
    display: flex;
    gap: 15px;
    flex-wrap: wrap;
}

.social a {
    display: flex;
    align-items: center;
    gap: 8px;
    padding: 8px 14px;
    text-decoration: none;
 background: #38bdf8;
    color: #e5e7eb;
    border-radius: 6px;
    transition: 0.3s ease;
}

.social a img {
    width: 18px;
}

.social a:hover{
    background: white;
    color: #020617;
}

/* ================= PROFILE IMAGE ================= */
.home-image img {
    width: 280px;
    height: 280px;
    border-radius: 50%;
    border: 4px solid #38bdf8;
    object-fit: cover;
    filter: drop-shadow(0 0 20px rgba(56,189,248,0.4));
    transition: 0.3s ease;
}

.home-image img:hover {
    transform: scale(1.05);
}

/* ================= FOOTER ================= */
.footer {
    background: #020617;
    text-align: center;
    padding: 30px 10px;
}

.footer img {
    width: 45px;
    margin-bottom: 10px;
}

.footer .brand {
    font-weight: 600;
    color: #38bdf8;
}

.footer p {
    font-size: 14px;
    color: #94a3b8;
}

/* ================= RESPONSIVE ================= */
@media (max-width: 900px) {
    .home {
        flex-direction: column;
        text-align: center;
        gap: 40px;
    }

    .header {
        padding: 15px 30px;
    }

    .home-content h1 {
        font-size: 32px;
    }
}
